body {
    font-family: "Roboto", Arial, sans-serif;
}

h1 {
    font-family: "Oswald";
    font-weight: bold;
}

.nav-link {
    color: white;
    font-weight: 500;
    padding: 0.3rem;
}

.nav-link:hover {
    background-color: #5a9bb5;
    color: white;
    border-radius: 0.25rem;
}

.nav-link.active {
    background-color: #158cba !important;
    color: white !important;
}

.nav-link a {
    color: white;
    text-decoration: none;
}